<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>745400675215-22baqrock61sn6oi5jhqdi3ib77e4j5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745400675215-22baqrock61sn6oi5jhqdi3ib77e4j5f</string>
	<key>API_KEY</key>
	<string>AIzaSyD_JGYLTi-KWpm8feGXx8oVRq8Uk-BXZko</string>
	<key>GCM_SENDER_ID</key>
	<string>745400675215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squashApps.Cloud-Folio</string>
	<key>PROJECT_ID</key>
	<string>cloudfolio-a3346</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudfolio-a3346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745400675215:ios:252cf2a4259b4a7f</string>
	<key>DATABASE_URL</key>
	<string>https://cloudfolio-a3346.firebaseio.com</string>
</dict>
</plist>